1. Concatenate the string 'Thirty', 'Days', 'Of', 'Python' to a single string, 'Thirty Days Of Python'.

In [5]:
a = "Thirty", "days", "of", "python"
print(' '.join(a))

Thirty days of python

2. Concatenate the string 'Coding', 'For' , 'All' to a single string, 'Coding For All'.

In [6]:
b = 'Coding', 'For' , 'All' 
print(' '.join(b))

Coding For All

3. Declare a variable named company and assign it to an initial value "Coding For All".

In [8]:
company = "Coding For All"

Print the variable company using print().

In [9]:
print(company)

Coding For All

5. Print the length of the company string using len() method and print().

In [10]:
print(len(company))

14

6. Change all the characters to uppercase letters using upper() method.

In [11]:
print(company.upper())

CODING FOR ALL

7. Change all the characters to lowercase letters using lower() method.

In [12]:
print(company.lower())

coding for all

8. Use capitalize(), title(), swapcase() methods to format the value of the string Coding For All.

In [13]:
print(company.capitalize())
print(company.title())
print(company.swapcase())

Coding for all
Coding For All
cODING fOR aLL

Cut(slice) out the first word of Coding For All string.

In [14]:
print(company[0:6])

Coding

Check if Coding For All string contains a word Coding using the method index, find or other methods.

In [17]:
print(company.find("Coding"))
print("Coding" in company)

0
True

11. Replace the word coding in the string 'Coding For All' to Python.

In [ ]:
#print(company.replace('coding', '0'))
print(company.replace('coding', 'Python'))

Coding For All

12. Change Python for Everyone to Python for All using the replace method or other methods.

In [23]:
print(company.replace("Everyone", "All"))

Coding For All

Split the string 'Coding For All' using space as the separator (split()) .

In [24]:
print(company.split())

['Coding', 'For', 'All']

14. "Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon" split the string at the comma.

In [25]:
print("Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon".split())

['Facebook,', 'Google,', 'Microsoft,', 'Apple,', 'IBM,', 'Oracle,', 'Amazon']

15. What is the character at index 0 in the string Coding For All.

In [26]:
print(company[0])

C