1. Concatenate the string 'Thirty', 'Days', 'Of', 'Python' to a single string, 'Thirty Days Of Python'.

In [5]:
a = "Thirty", "days", "of", "python"
print(' '.join(a))

Thirty days of python

2. Concatenate the string 'Coding', 'For' , 'All' to a single string, 'Coding For All'.

In [6]:
b = 'Coding', 'For' , 'All' 
print(' '.join(b))

Coding For All

3. Declare a variable named company and assign it to an initial value "Coding For All".

In [8]:
company = "Coding For All"

Print the variable company using print().

In [9]:
print(company)

Coding For All

5. Print the length of the company string using len() method and print().

In [10]:
print(len(company))

14

6. Change all the characters to uppercase letters using upper() method.

In [11]:
print(company.upper())

CODING FOR ALL

7. Change all the characters to lowercase letters using lower() method.

In [12]:
print(company.lower())

coding for all

8. Use capitalize(), title(), swapcase() methods to format the value of the string Coding For All.

In [13]:
print(company.capitalize())
print(company.title())
print(company.swapcase())

Coding for all
Coding For All
cODING fOR aLL

Cut(slice) out the first word of Coding For All string.

In [14]:
print(company[0:6])

Coding

Check if Coding For All string contains a word Coding using the method index, find or other methods.

In [17]:
print(company.find("Coding"))
print("Coding" in company)

0
True

11. Replace the word coding in the string 'Coding For All' to Python.

In [ ]:
#print(company.replace('coding', '0'))
print(company.replace('coding', 'Python'))

Coding For All

12. Change Python for Everyone to Python for All using the replace method or other methods.

In [23]:
print(company.replace("Everyone", "All"))

Coding For All

Split the string 'Coding For All' using space as the separator (split()) .

In [24]:
print(company.split())

['Coding', 'For', 'All']

14. "Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon" split the string at the comma.

In [25]:
print("Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon".split())

['Facebook,', 'Google,', 'Microsoft,', 'Apple,', 'IBM,', 'Oracle,', 'Amazon']

15. What is the character at index 0 in the string Coding For All.

In [26]:
print(company[0])

C

16. What is the last index of the string Coding For All.

In [27]:
print(company[-1])

l

17. What character is at index 10 in "Coding For All" string.

In [32]:
print(company[10])
print(company[11])
print(company)

A
Coding For All

    18, 19, 20, 21 and 22.  Create an acronym or an abbreviation for the name 'Python For Everyone'.

In [36]:
pfe = 'Python For Everyone'
cfa = "Coding"

print(cfa.index("C"))
print(cfa.rfind("l"))
print(cfa.rfind("C"))

0
-1
0

23 and 24.  Use index or find to find the position of the first occurrence of the word 'because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'

In [39]:
print('You cannot end a sentence with because because because is a conjunction'.find("because"))
print('You cannot end a sentence with because because because is a conjunction'.index("because"))
print('You cannot end a sentence with because because because is a conjunction'.rindex("because"))

31
31
47

25,26 and 27.  Slice out the phrase 'because because because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'

In [44]:
print("You cannot end a sentence with because because because is a conjunction"[31:55])
print("You cannot end a sentence with because because because is a conjunction".find("because"))
print("You cannot end a sentence with because because because is a conjunction"[31:55])

because because because
31
because because because

28 and 29  Does ''Coding For All' start with a substring Coding?

In [46]:
print("Coding For All".startswith("Coding"))
print("Coding For All".endswith("coding"))

True
False

30. '   Coding For All      '  , remove the left and right trailing spaces in the given string.

In [49]:
print('   Coding For All      '.rstrip())
print('   Coding For All      '.lstrip())

   Coding For All
Coding For All

31. Which one of the following variables return True when we use the method isidentifier():
30DaysOfPython
thirty_days_of_python

In [51]:
print("30DaysOfPython".isidentifier())
print("thirty_days_of_python".isidentifier())

False
True

Question 32. 

The following list contains the names of some of python libraries: ['Django', 'Flask', 'Bottle', 'Pyramid', 'Falcon']. Join the list with a hash with space string.

In [54]:
a = ['Django', 'Flask', 'Bottle', 'Pyramid', 'Falcon']
print(" ".join(a))

Django Flask Bottle Pyramid Falcon

Question 33

Use the new line escape sequence to separate the following sentences
I am enjoying this challenge.
I just wonder what is next.

In [56]:
print("I am enjoying \nthis challenge")
print("I just wonder what \nis next.")

I am enjoying
this challenge
I just wonder what
is next.

Question 34. 

Use a tab escape sequence to write the following lines.
Name      Age     Country   City
Asabeneh  250     Finland   Helsinki

In [62]:
print("Name\t\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name		Age	Country	City
Asabeneh	250	Finland	Helsinki

Question 35

Use the string formatting method to display the following:
radius = 10
area = 3.14 * radius ** 2
The area of a circle with radius 10 is 314 meters square.

In [63]:
radius = 10
area = 3.14 * radius ** 2
print(f"The area of a circle with radius is {radius} is {area} meters square")

The area of a circle with radius is 10 is 314.0 meters square

Question 36

Make the following using string formatting methods:
8 + 6 = 14
8 - 6 = 2
8 * 6 = 48
8 / 6 = 1.33
8 % 6 = 2
8 // 6 = 1
8 ** 6 = 262144

In [72]:
a = 8
b = 6
print(f"{a} + {b} = {a+b}")
print(f"{a} - {b} = {a-b}")
print(f"{a} * {b} = {a*b}")
print(f"{a} \ {b} = {a/b:.2f}")
print(f'{a} % {b} = {a%b}')
print(f'{a}// {b} = {a//b}')
print(f"{a} ** {b} = {a**b}")

8 + 6 = 14
8 - 6 = 2
8 * 6 = 48
8 \ 6 = 1.33
8 % 6 = 2
8// 6 = 1
8 ** 6 = 262144

<>:6: SyntaxWarning: invalid escape sequence '\ '
<>:6: SyntaxWarning: invalid escape sequence '\ '
C:\Users\ak\AppData\Local\Temp\ipykernel_13412\83436879.py:6: SyntaxWarning: invalid escape sequence '\ '
  print(f"{a} \ {b} = {a/b:.2f}")