Module 5 exercises

In [2]:
#  1. Declare an empty list

empty_list = []

In [3]:
#  2. Declare a list with more than 5 items

list_5 = ["a", "b", "c", "d", "e"]

In [4]:
#  3. Find the length of your list

print(len(list_5))

5

In [5]:
# 4. Get the first item, the middle item and the last item of the list

print(list_5[0], list_5[2], list_5[-1])

a c e

In [6]:
#. 5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

mixed_data_type = ["nazir", 25, 1.7, "married", "Katsina, Nigeria"]

In [7]:
# 6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

companies = ["Facebook", "Google", "Micosoft", "Apple", "IBM", "Oracle", "Amazon"]

In [8]:
# 7. Orint the lits using print()

print(companies)

['Facebook', 'Google', 'Micosoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [9]:
# 8. Print the number of companies in the list

print(len(companies))

7

In [10]:
# 9. Print the first, middle and last company

print(companies[0], companies[3], companies[-1])

Facebook Apple Amazon

In [11]:
# 10. Print the list after modifying one of the companies

companies[0] = "Fbook"
print(companies)

['Fbook', 'Google', 'Micosoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [12]:
# 11. Add an IT company to it_companies

companies.append("IT")
print(companies)

['Fbook', 'Google', 'Micosoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT']

In [13]:
# 12. Insert an IT company in the middle of the companies list

companies.insert(3, "new_one")
print(companies)

['Fbook', 'Google', 'Micosoft', 'new_one', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT']

In [14]:
# 13. Change one of the it_companies names to uppercase (IBM excluded!)

print(companies[1].upper())

GOOGLE

In [15]:
# 14. Join the it_companies with a string '#;  '

companies = companies + ["#"]
print(companies)

['Fbook', 'Google', 'Micosoft', 'new_one', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT', '#']

In [16]:
# 15. Check if a certain company exists in the it_companies list.
print("IT" in companies)

True

In [17]:
# 16. Sort the list using sort() method
companies.sort()
print(companies)

['#', 'Amazon', 'Apple', 'Fbook', 'Google', 'IBM', 'IT', 'Micosoft', 'Oracle', 'new_one']

In [18]:
# 17. Reverse the list in descending order using reverse() method
companies.reverse()
print(companies)

['new_one', 'Oracle', 'Micosoft', 'IT', 'IBM', 'Google', 'Fbook', 'Apple', 'Amazon', '#']

In [ ]:
#18. Slice out the first 3 companies from the list

print(companies[:3])

['new_one', 'Oracle', 'Micosoft']

In [21]:
#19. Slice out the last 3 companies from the list

print(companies[7:])

['Apple', 'Amazon', '#']

In [ ]:
#20. Slice out the middle IT company or companies from the list

print(len(companies)) #we are printing the len in order to know what the middle number will be
print(companies[4:6])

10
['IBM', 'Google']

In [26]:
#21. Remove the first IT company from the list

companies.remove("new_one")
companies

['Oracle', 'Micosoft', 'IT', 'IBM', 'Google', 'Fbook', 'Apple', 'Amazon', '#']

In [29]:
#22. Remove the middle IT company or companies from the list

del companies[5]
companies.pop(4)
companies

['Oracle', 'Micosoft', 'IT', 'IBM', '#']

In [30]:
#23. Remove the last IT company from the list

del companies[-1]
print(companies)

['Oracle', 'Micosoft', 'IT', 'IBM']

In [31]:
#24. Remove all IT companies from the list

print(companies.clear())

None

In [33]:
#25. Destroy the IT companies list

del companies
print(companies)

NameError: name 'companies' is not defined

In [42]:
#26. Join the following lists:

#front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
#back_end = ['Node','Express', 'MongoDB']


front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

front_end.extend(back_end)
front_end

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [43]:
joined_list = front_end + back_end
joined_list

['HTML',
 'CSS',
 'JS',
 'React',
 'Redux',
 'Node',
 'Express',
 'MongoDB',
 'Node',
 'Express',
 'MongoDB']

In [48]:
#27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

full_stack = front_end[:]
full_stack.insert(5, "Python")
full_stack.insert(6, "SQL")
full_stack[6:6] = ["sample1", "sample2", "sample3"]
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'sample1', 'sample2', 'sample3', 'SQL', 'Node', 'Express', 'MongoDB']