MODULE 5 LITS EXERCISES

In [ ]:
#  1. Declare an empty list

empty_list = []

In [ ]:
#  2. Declare a list with more than 5 items

list_5 = ["a", "b", "c", "d", "e"]

In [ ]:
#  3. Find the length of your list

print(len(list_5))

5

In [ ]:
# 4. Get the first item, the middle item and the last item of the list

print(list_5[0], list_5[2], list_5[-1])

a c e

In [11]:
#. 5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

mixed_data_type = ["nazir", 25, 1.7, "married", "Katsina, Nigeria"]

In [12]:
# 6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

companies = ["Facebook", "Google", "Micosoft", "Apple", "IBM", "Oracle", "Amazon"]

In [ ]:
# 7. Orint the lits using print()

print(companies)

['Facebook', 'Google', 'Micosoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
# 8. Print the number of companies in the list

print(len(companies))

7

In [ ]:
# 9. Print the first, middle and last company

print(companies[0], companies[3], companies[-1])

Facebook Apple Amazon

In [16]:
# 10. Print the list after modifying one of the companies

companies[0] = "Fbook"
print(companies)

['Fbook', 'Google', 'Micosoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
# 11. Add an IT company to it_companies

companies.append("IT")
print(companies)

['Fbook', 'Google', 'Micosoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT']

In [19]:
# 12. Insert an IT company in the middle of the companies list

companies.insert(3, "new_one")
print(companies)

['Fbook', 'Google', 'Micosoft', 'new_one', 'new_one', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT']

In [22]:
# 13. Change one of the it_companies names to uppercase (IBM excluded!)

print(companies[1].upper())

GOOGLE

In [25]:
# 14. Join the it_companies with a string '#;  '

companies = companies + ["#"]
print(companies)

['Fbook', 'Google', 'Micosoft', 'new_one', 'new_one', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT', '#']

In [26]:
# 15. Check if a certain company exists in the it_companies list.
print("IT" in companies)

True

In [30]:
# 16. Sort the list using sort() method
companies.sort()
print(companies)

['#', 'Amazon', 'Apple', 'Fbook', 'Google', 'IBM', 'IT', 'Micosoft', 'Oracle', 'new_one', 'new_one']

In [32]:
# 17. Reverse the list in descending order using reverse() method
companies.reverse()
print(companies)

['#', 'Amazon', 'Apple', 'Fbook', 'Google', 'IBM', 'IT', 'Micosoft', 'Oracle', 'new_one', 'new_one']