***Sets_Exercises***

# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [15]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [ ]:
#1. Find the length of the set it_companies

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(len(it_companies))

7

In [5]:
#2. Add 'Twitter' to it_companies

it_companies.add("Twitter")
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [ ]:
#3. Insert multiple IT companies at once to the set it_companies

it_companies.update(it_companies)
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [13]:
#4. Remove one of the companies from the set it_companies

it_companies.remove("Twitter")
print(it_companies)

{'Apple', 'Facebook', 'Amazon', 'Microsoft', 'Google', 'IBM'}

_DISCARD;_ This means to completly  discard or destroy a set.

_while._

_Clear:_ means to let go of all the values of a set without destroying or deleting a set completly.

***Sets Exercises: Level 2***

In [ ]:
#1. Join A and B

print(A.union(B))

{19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
#2. Find A intersection B

print(A.intersection(B))

{19, 20, 22, 24, 25, 26}

In [ ]:
#3. Is A subset of B

print(A.issubset(B))

True

In [ ]:
#4. Are A and B disjoint sets

print(A.isdisjoint(B))

False

In [21]:
# 5. Join A with B and B with A
print(A.union(B))
print(B.update(A))

{19, 20, 22, 24, 25, 26, 27, 28}
None

In [ ]:
#6. What is the symmetric difference between A and B

print(A.symmetric_difference(B))

{27, 28}

In [23]:
#7. Delete the sets completely
del it_companies
del A 
del B

***Sets Exercises: Level 3***

In [35]:
#1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?
age_set = set(age)
print("This is the length of age\n", len(age), "\nand\n",  "the length of age_aset\n", len(age_list))

This is the length of age
 8
and
 the length of age_aset
 5

#2. Explain the difference between the following data types: string, list, tuple and set

***Strings*** ; A string is one type of data type where by it comprises of text originally, however, an integer can be formated or converted to be usedn as string, eg
    string = "a"
    converted_string = "5"
from the above examples, it can be seen that 5 which is originally an int has been converted to string. 

***list*** ; This another data type where  it consistis any variety of data data types within it, the elements are encapsulated with square brackets [], and its mutable, meaning that it can be altered, additionally, a list contains multiple simalar values. 

***tuple*** ;  A tuple data type can also contain different data types within it but it can not be altered thefore it is not mutable, the elements here are encapsulated in paranthesis (). 

***set*** ; A set data type is like a normal set of mathematics, the elements are closed in curly brackets {}, and it can also contain multiple data types, a set is not mutabe but an addition or removing of elements is allowed within it, additionally, a set contains only unique values.

In [41]:
#3. I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

splitted_words = 'I am a teacher and I love to inspire and teach people.'.split()

#we are converting the splitted_words as it became a list auomatically, and for us to have only the uique values, we need to convert it to set

unique_values = set(splitted_words)
print("the total unique word used in the splitted_word is;", len(unique_values))

the total unique word used in the splitted_word is; 10