Module 5 exercises

In [2]:
#  1. Declare an empty list

empty_list = []

In [3]:
#  2. Declare a list with more than 5 items

list_5 = ["a", "b", "c", "d", "e"]

In [4]:
#  3. Find the length of your list

print(len(list_5))

5

In [5]:
# 4. Get the first item, the middle item and the last item of the list

print(list_5[0], list_5[2], list_5[-1])

a c e

In [6]:
#. 5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

mixed_data_type = ["nazir", 25, 1.7, "married", "Katsina, Nigeria"]

In [7]:
# 6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

companies = ["Facebook", "Google", "Micosoft", "Apple", "IBM", "Oracle", "Amazon"]

In [8]:
# 7. Orint the lits using print()

print(companies)

['Facebook', 'Google', 'Micosoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [9]:
# 8. Print the number of companies in the list

print(len(companies))

7

In [10]:
# 9. Print the first, middle and last company

print(companies[0], companies[3], companies[-1])

Facebook Apple Amazon

In [11]:
# 10. Print the list after modifying one of the companies

companies[0] = "Fbook"
print(companies)

['Fbook', 'Google', 'Micosoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [12]:
# 11. Add an IT company to it_companies

companies.append("IT")
print(companies)

['Fbook', 'Google', 'Micosoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT']

In [13]:
# 12. Insert an IT company in the middle of the companies list

companies.insert(3, "new_one")
print(companies)

['Fbook', 'Google', 'Micosoft', 'new_one', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT']

In [14]:
# 13. Change one of the it_companies names to uppercase (IBM excluded!)

print(companies[1].upper())

GOOGLE

In [15]:
# 14. Join the it_companies with a string '#;  '

companies = companies + ["#"]
print(companies)

['Fbook', 'Google', 'Micosoft', 'new_one', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT', '#']

In [16]:
# 15. Check if a certain company exists in the it_companies list.
print("IT" in companies)

True

In [17]:
# 16. Sort the list using sort() method
companies.sort()
print(companies)

['#', 'Amazon', 'Apple', 'Fbook', 'Google', 'IBM', 'IT', 'Micosoft', 'Oracle', 'new_one']

In [18]:
# 17. Reverse the list in descending order using reverse() method
companies.reverse()
print(companies)

['new_one', 'Oracle', 'Micosoft', 'IT', 'IBM', 'Google', 'Fbook', 'Apple', 'Amazon', '#']

In [ ]:
#18. Slice out the first 3 companies from the list

print(companies[:3])

['new_one', 'Oracle', 'Micosoft']

In [21]:
#19. Slice out the last 3 companies from the list

print(companies[7:])

['Apple', 'Amazon', '#']

In [ ]:
#20. Slice out the middle IT company or companies from the list

print(len(companies)) #we are printing the len in order to know what the middle number will be
print(companies[4:6])

10
['IBM', 'Google']

In [26]:
#21. Remove the first IT company from the list

companies.remove("new_one")
companies

['Oracle', 'Micosoft', 'IT', 'IBM', 'Google', 'Fbook', 'Apple', 'Amazon', '#']

In [29]:
#22. Remove the middle IT company or companies from the list

del companies[5]
companies.pop(4)
companies

['Oracle', 'Micosoft', 'IT', 'IBM', '#']

In [30]:
#23. Remove the last IT company from the list

del companies[-1]
print(companies)

['Oracle', 'Micosoft', 'IT', 'IBM']

In [31]:
#24. Remove all IT companies from the list

print(companies.clear())

None

In [33]:
#25. Destroy the IT companies list

del companies
print(companies)

NameError: name 'companies' is not defined

In [42]:
#26. Join the following lists:

#front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
#back_end = ['Node','Express', 'MongoDB']


front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

front_end.extend(back_end)
front_end

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [43]:
joined_list = front_end + back_end
joined_list

['HTML',
 'CSS',
 'JS',
 'React',
 'Redux',
 'Node',
 'Express',
 'MongoDB',
 'Node',
 'Express',
 'MongoDB']

In [48]:
#27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

full_stack = front_end[:]
full_stack.insert(5, "Python")
full_stack.insert(6, "SQL")
full_stack[6:6] = ["sample1", "sample2", "sample3"]
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'sample1', 'sample2', 'sample3', 'SQL', 'Node', 'Express', 'MongoDB']

                                   # Exercises : Level 2

In [66]:
#1. The following is a list of 10 students ages:
#ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
#Sort the list and find the min and max age
#Add the min age and the max age again to the list
#Find the median age (one middle item or two middle items divided by two)
#Find the average age (sum of all items divided by their number )
#Find the range of the ages (max minus min)
#Compare the value of (min - average) and (max - average), use abs() method

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
max1 =  max(ages)
min1 =  min(ages)
ages.append(max1)
ages.append(min1)
print(ages)

import statistics

print(statistics.median(ages))
print(statistics.mean(ages))
print(max(ages)-min(ages))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 19]
24.0
22.75
7

In [72]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]
print(len(countries))
countries_halve = countries[96:]
print(countries_halve)

193
['Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [75]:
# ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.
x, x2, x3, *scandic = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
print(x, x2, x3)
print(scandic)

China Russia USA
['Finland', 'Sweden', 'Norway', 'Denmark']