***Sets_Exercises***

# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [15]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [ ]:
#1. Find the length of the set it_companies

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(len(it_companies))

7

In [5]:
#2. Add 'Twitter' to it_companies

it_companies.add("Twitter")
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [ ]:
#3. Insert multiple IT companies at once to the set it_companies

it_companies.update(it_companies)
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [13]:
#4. Remove one of the companies from the set it_companies

it_companies.remove("Twitter")
print(it_companies)

{'Apple', 'Facebook', 'Amazon', 'Microsoft', 'Google', 'IBM'}

_DISCARD;_ This means to completly  discard or destroy a set.

_while._

_Clear:_ means to let go of all the values of a set without destroying or deleting a set completly.

***Sets Exercises: Level 2***

In [ ]:
#1. Join A and B

print(A.union(B))

{19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
#2. Find A intersection B

print(A.intersection(B))

{19, 20, 22, 24, 25, 26}

In [ ]:
#3. Is A subset of B

print(A.issubset(B))

True

In [ ]:
#4. Are A and B disjoint sets

print(A.isdisjoint(B))

False

In [21]:
# 5. Join A with B and B with A
print(A.union(B))
print(B.update(A))

{19, 20, 22, 24, 25, 26, 27, 28}
None

In [ ]:
#6. What is the symmetric difference between A and B

print(A.symmetric_difference(B))

{27, 28}

In [23]:
#7. Delete the sets completely
del it_companies
del A 
del B